*{
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.flipbook {
    height: 100vh;
}

.flipbook .turn-page {
    background: white;
	display: flex;
	justify-content: center;
    align-items: center;
}

.turn-page img{
    max-width: 100%;
	height: 100%;
}

