*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.flipbook {
    height: 100vh;
}

.flipbook .hard {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flipbook .page {
    background: white;
	display: flex;
	justify-content: center;
}

.page img{
	height: 100%;
}

