*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    height: 100dvh;
    width: 100dvw;
	overflow: hidden;
}

.flipbook {
    width: 90vw;
    height: 90vh;
}

.flipbook .hard {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	height: 100%;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}

